IndexIgnore *
RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www.)?api.mnrh.com$
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/$1